modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 39624637

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -p 3000 -a 0.0.0.0 -c-1"

[[workflows.workflow]]
name = "Web Server"
author = 39624637

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server -a 0.0.0.0 -p 3000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 9000
externalPort = 9000

[deployment]
run = ["sh", "-c", "npx http-server -p 3000 -a 0.0.0.0"]
